<div class="limitador">
    <div style="display: flex; justify-content: space-around; margin-top: 40px;">
        <div>
            <h2>Perguntas frequentes</h2>
            <a href="#"><h4>Como funciona?</h4></a>
            <a href="#"><h4>Como comprar?</h4></a>
            <a href="#"><h4>Como vender?</h4></a>
            <a href="#"><h4>Tive problemas com minha compra</h4></a>
            <a href="#"><h4>Tive problemas com minha venda</h4></a>
        </div>
        <div>
            <h2>Fale conosco</h2>
            <p style="display: inline-block"><a href="#"><i class="fa fa-envelope-o fa-1x"></i> safetix@gmail.com</a></p><br>
            <p style="display: inline-block"><a href="#"><i class="fa fa-instagram fa-1x"></i> Instagram</a></p><br>
            <p style="display: inline-block"><a href="#"><i class="fa fa-facebook fa-1x"></i> Facebook</a></p><br>
            <p style="display: inline-block"><a href="#"><i class="fa fa-twitter fa-1x"> </i> Twitter</a></p>
        </div>
    </div>
</div>