<main class="limitador fundo-destaque text-center">
	<h1>Selecione um novo ícone</h1>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<i class="fa fa-user fa-5x icone" aria-hidden="true"></i>
			</div>
			<div class="col-sm-4">
				<i class="fa fa-user fa-5x icone" aria-hidden="true"></i>
			</div>
			<div class="col-sm-4">
				<i class="fa fa-user fa-5x icone" aria-hidden="true"></i>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<i class="fa fa-user fa-5x icone" aria-hidden="true"></i>
			</div>
			<div class="col-sm-4">
				<i class="fa fa-user fa-5x icone" aria-hidden="true"></i>
			</div>
			<div class="col-sm-4">
				<i class="fa fa-user fa-5x icone" aria-hidden="true"></i>
			</div>
		</div>
	</div>
</main>
