<form class="panel panel-default limitador">
	<div class="panel-heading">
		<h1>Inscrever-se</h1>
	</div>
	<div class="panel-body">
		<div class="form-group">
			<label for="E-mail">E-mail</label>
			<input id="E-mail" class="form-control" type="text" />
		</div>

		<div class="form-group">
			<label for="Senha"> Senha </label>
			<input id="Senha" class="form-control" type="text" />
		</div>

		<div class="form-group">
			<label for="Confirmar senha"> Confirmar senha </label>
			<input id="Confirmar senha" class="form-control" type="text" />
		</div>

		<div class="form-group">
			<label for="Celular"> Celular </label>
			<input id="Celular" class="form-control" type="text" />
		</div>

		<div class="form-group">
			<label for="Faculdade"> Faculdade </label>
			<input id="Faculdade" class="form-control" type="text" />
		</div>

		<div class="checkbox">
			<label><input type="checkbox" /> Li e concordo com os <a href="...">termos de uso</a></label>
		</div>
	</div>
	<div class="panel-footer">
		<button type="submit" class="btn btn-primary btn-lg">Confirmar</button>
	</div>
</form>

<%- contentFor("styles") %>
<style type="text/css">
	.limitador {
		max-width: 400px;
		text-align: left;
	}
</style>
