<form class="panel panel-default limitador-400" id="form">
	<div class="panel-heading">
		<h1>Inscrever-se</h1>
	</div>
	<div class="panel-body">
		<div class="form-group">
			<label for="login">E-mail</label>
			<input id="login" name="login" class="form-control" type="email" />
		</div>

		<div class="form-group">
			<label for="nome">Nome</label>
			<input id="nome" name="nome" class="form-control" type="text" />
		</div>

		<div class="form-group">
			<label for="nascimento">Data de Nascimento</label>
			<input id="nascimento" name="nascimento" class="form-control" type="date" />
		</div>

		<div class="form-group">
			<label for="senha">Senha</label>
			<input id="senha" name="senha" class="form-control" type="password" />
		</div>

		<div class="form-group">
			<label for="senha2">Confirmar Senha</label>
			<input id="senha2" name="senha2" class="form-control" type="password" />
		</div>

		<div class="form-group">
			<label for="telefone">Celular</label>
			<input id="telefone" name="telefone" class="form-control" type="text" />
		</div>

		<div class="form-group">
			<label for="faculdade">Faculdade</label>
			<input id="faculdade" name="faculdade" class="form-control" type="text" />
		</div>

		<div class="checkbox">
			<label><input type="checkbox" id="idtermouso" name="idtermouso" value="1" /> Li e concordo com os <a target="_blank" href="<%- root %>/termo">termos de uso</a></label>
		</div>
	</div>
	<div class="panel-footer">
		<button type="submit" class="btn btn-primary btn-lg">Confirmar</button>
	</div>
</form>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	maskMobilePhone("#telefone");

	$("#form").validate({
		rules: {
			login: {
				required: true,
				minlength: 3,
				maxlength: 100,
				email: true
			},
			nome: {
				required: true,
				minlength: 3,
				maxlength: 100
			},
			nascimento: {
				required: true
			},
			senha: {
				required: true,
				minlength: 6,
				maxlength: 16
			},
			senha2: {
				required: true,
				equalTo: "#senha"
			},
			telefone: {
				required: true,
				minlength: 3,
				maxlength: 30
			},
			faculdade: {
				required: true,
				minlength: 3,
				maxlength: 50
			},
			idtermouso: {
				required: true
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			JsonWebApi.postFormData("<%- root %>/api/usuario/criar", form, function (response) {
				if (response.success) {
					alert("Usuário criado com sucesso! " + emoji.happy);
					location.href = "<%- root %>/login";
				} else {
					alert(response.value, true);
				}
			});
		}
	});
	//]]>
</script>
