<div class="limitador">
	<div class="text-center">
		<img src="/imagens/linha-do-tempo-compra.png" />
    </div>

    <div class="festa">
        <div class="imagem">
            <img src="/imagens/sleepover.png" alt="" width="180">
        </div>
        <div class="informacoes">
            
        </div>
    </div>

    <div class="festa">
        <div class="imagem">
            <img src="/imagens/sleepover.png" alt="" width="180">
        </div>
        <div class="informacoes">
            
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Voltar</button>

    <div>
        <h4>Subtotal:</h4>
        <h2> R$ 280,00 </h2>
    </div>
</div>    

<%- contentFor("styles") %>
<style type="text/css">

    .informacoes{
        background-color: #fff;
        height: 172px;
        width: 785px;
        float: left;
        margin-left: 5px;
        margin-right: 28px;
        border-radius: 0px 10px 10px 0px;
        padding-top: 5px;
        margin-top: 20px;
    }
    
    .imagem{
        float: left;
        margin-top: 20px;
    }

    .festa{
        margin-top: 20px;
    }
</style>