<div class="limitador">
	<div class="text-center">
		<img src="/imagens/linha-do-tempo-compra.png" />
    </div>

    <div class="festa">
        <div class="imagem">
            <img src="/imagens/sleepover.png" alt="" width="180">
        </div>
        <div class="informacoes">
            <p class="cor-preta">Vendedor: José</p>
            <h2>SleepOver | Endless Journey</h2>
            <div style="float: left;">
                <p>Setor: <b>Pista</b></p>
                <p>Categoria: <b>Aluno</b></p>
            </div>
            <div style="float: left; margin-left: 50px;">
                <p>Quantidade: <b>2</b></p>
                <p>Preço unitário: <b>R$ 120,00</b></p>
            </div>
            <div style="margin-left: 85%;">
                <button type="submit" class="btn btn-primary btn-lg">Excluir</button>
            </div>
        </div>
    </div>

    <div class="festa">
        <div class="imagem">
            <img src="/imagens/sleepover.png" alt="" width="180">
        </div>
        <div class="informacoes">
            <p class="cor-preta">José</p>
            <h2>SleepOver | Endless Journey</h2>
            <div style="float: left;">
                <p>Setor: <b>Pista</b></p>
                <p>Categoria: <b>Aluno</b></p>
            </div>
            <div style="float: left; margin-left: 50px;">
                <p>Quantidade: <b>2</b></p>
                <p>Preço unitário: <b>R$ 120,00</b></p>
            </div>
            <div style="margin-left: 85%;">
                <button type="submit" class="btn btn-primary btn-lg">Excluir</button>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-lg"> <a style="color:white" href="<%- root %>/ingressos">Voltar</a></button>

    <div style="float: right; margin-right: 50px;">
        <h4>Subtotal:</h4>
        <h2> R$ 280,00 </h2>
        <button type="submit" class="btn btn-primary btn-lg"> <a style="color:white" href="<%- root %>/pagamento">Finalizar Compra</a></button>
    </div>
</div>    

<%- contentFor("styles") %>
<style type="text/css">

    .informacoes{
        background-color: #fff;
        height: 172px;
        width: 785px;
        float: left;
        margin-left: 5px;
        margin-right: 28px;
        border-radius: 0px 10px 10px 0px;
        padding-top: 15px;
        margin-top: 20px;
        color: black;
        padding-left: 30px;;
        margin-bottom: 20px;;
    }
    
    .imagem{
        float: left;
        margin-top: 20px;
    }

    .festa{
        margin-top: 20px;
    }
</style>