<main class="limitador fundo-destaque text-center">

<p class="aviso"> 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Suspendisse erat nulla, mattis et maximus in, molestie at felis.
    Praesent lectus magna, porta a volutpat ac, egestas a dui.
    Quisque semper, ex eget pretium faucibus, ante ipsum dictum nisl, sed iaculis ante nisi vehicula arcu.
</p>

<div class="row">
<div class="col-sm-6">     
    <p>
        <a href="..." class="btn btn-primary btn-block"> Voltar para festa</a>
    <p>
</div>

<div class="col-sm-6">
    <p>
        <a href="..." class="btn btn-primary btn-block"> Ver minhas vendas</a>
    </p>
</div>
</div>
</main>