<main class="limitador fundo-destaque text-center compra padding">


<h3 class="compra">Parabéns! Sua compra foi realizada! </h3>    
<p class="aviso textomeio"> 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Suspendisse erat nulla, mattis et maximus in, molestie at felis.
    Praesent lectus magna, porta a volutpat ac, egestas a dui.
    Quisque semper, ex eget pretium faucibus, ante ipsum dictum nisl, sed iaculis ante nisi vehicula arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Suspendisse erat nulla, mattis et maximus in, molestie at felis.
    
</p>

<div class="row">
<div class="col-sm-6">     
    <p>
        <a href="..." class="compra"><i class="fa fa-undo fa-1x"></i> voltar para festas</a>
    <p>
</div>

<div class="col-sm-6">
    <p>
        <a href="..." class="compra"><i class="fa fa-history fa-1x"></i> ir para histórico</a>
    </p>
</div>
</div>
</main>

<%- contentFor("styles") %>
<style type="text/css">


    .compra{
        background-color: #ff0949;
        color: white;
    }

    .textomeio{
        margin: 20px 40px;
        padding: 25px 10px 65px 50px;
    }

    .padding{
        padding: 50px;
    }

</style>