<div class="limitador">
    <header class="imagem-fundo"></header>
    
    <div id="divBusca">
        <input type="text" id="txtBusca" placeholder="Buscar..."/>
        <a href="#"><img src="/imagens/search.png" width="20px;" id="btnBusca" alt="Buscar"/></a>
    </div>

    <div class="festa">
        <div class="imagem">
            <img src="/imagens/sleepover.png" alt="" width="180">
        </div>
        <div class="informacoes">
            <h4 style="padding-left: 10px;">SleepOver | Endless Journey</h4>
            <h6 style="margin-top:-20px; padding-left: 10px;">12 ingressos disponiveis</h6>
            <a href="#"><img style="margin-top:-47px;" src="/imagens/comprar.png" width="100px;" id="btnComprar" alt=""/></a>
            <a href="#"><img style="float: right; margin-top:-14px;" src="/imagens/vender.png" width="95px;" id="btnVender" alt=""/></a>
        </div>
    </div>
    <div class="festa">
        <div class="imagem">
            <img src="/imagens/sleepover.png" alt="" width="180">
        </div>
        <div class="informacoes">
            <h4 style="padding-left: 10px;">SleepOver | Endless Journey</h4>
            <h6 style="margin-top:-20px; padding-left: 10px;">12 ingressos disponiveis</h6>
            <a href="#"><img style="margin-top:-47px;" src="/imagens/comprar.png" width="100px;" id="btnComprar" alt=""/></a>
            <a href="#"><img style="float: right; margin-top:-14px;" src="/imagens/vender.png" width="95px;" id="btnVender" alt=""/></a>
        </div>
    </div>
    <div class="festa">
        <div class="imagem">
            <img src="/imagens/sleepover.png" alt="" width="180">
        </div>
        <div class="informacoes">
            <h4 style="padding-left: 10px;">SleepOver | Endless Journey</h4>
            <h6 style="margin-top:-20px; padding-left: 10px;">12 ingressos disponiveis</h6>
            <a href="#"><img style="margin-top:-47px;" src="/imagens/comprar.png" width="100px;" id="btnComprar" alt=""/></a>
            <a href="#"><img style="float: right; margin-top:-14px;" src="/imagens/vender.png" width="95px;" id="btnVender" alt=""/></a>
        </div>
    </div>
    <div class="festa">
        <div class="imagem">
            <img src="/imagens/sleepover.png" alt="" width="180">
        </div>
        <div class="informacoes">
            <h4 style="padding-left: 10px;">SleepOver | Endless Journey</h4>
            <h6 style="margin-top:-20px; padding-left: 10px;">12 ingressos disponiveis</h6>
            <a href="#"><img style="margin-top:-47px;" src="/imagens/comprar.png" width="100px;" id="btnComprar" alt=""/></a>
            <a href="#"><img style="float: right; margin-top:-14px;" src="/imagens/vender.png" width="95px;" id="btnVender" alt=""/></a>
        </div>
    </div>
    <div class="festa">
        <div class="imagem">
            <img src="/imagens/sleepover.png" alt="" width="180">
        </div>
        <div class="informacoes">
            <h4 style="padding-left: 10px;">SleepOver | Endless Journey</h4>
            <h6 style="margin-top:-20px; padding-left: 10px;">12 ingressos disponiveis</h6>
            <a href="#"><img style="margin-top:-47px;" src="/imagens/comprar.png" width="100px;" id="btnComprar" alt=""/></a>
            <a href="#"><img style="float: right; margin-top:-14px;" src="/imagens/vender.png" width="95px;" id="btnVender" alt=""/></a>
        </div>
    </div>
    <div class="festa">
        <div class="imagem">
            <img src="/imagens/sleepover.png" alt="" width="180">
        </div>
        <div class="informacoes">
            <h4 style="padding-left: 10px;">SleepOver | Endless Journey</h4>
            <h6 style="margin-top:-20px; padding-left: 10px;">12 ingressos disponiveis</h6>
            <a href="#"><img style="margin-top:-47px;" src="/imagens/comprar.png" width="100px;" id="btnComprar" alt=""/></a>
            <a href="#"><img style="float: right; margin-top:-14px;" src="/imagens/vender.png" width="95px;" id="btnVender" alt=""/></a>
        </div>
    </div>
    


</div>
<%- contentFor("styles") %>
<style type="text/css">
	.imagem-fundo {
		background-image: url(/imagens/festa-fundo-index.png);
		background-repeat: no-repeat;
		background-size: contain;
		text-align: center;
        padding: 300px 0px;
        margin-top: -50px;
    }

    #divBusca{
        background-color:#ff0949;
        border:solid 1px;
        border-radius:15px;
        width:320px;
        margin-top: -300px;
        margin-bottom: 30px;
    }

    #txtBusca{
        float:left;
        background-color:transparent;
        padding-left:5px;
        font-style:italic;
        font-size:18px;
        border:none;
        height:20px;
        width:290px;
    }

    .informacoes{
        background-color: #fff;
        height: 172px;
        width: 120px;
        float: left;
        margin-left: 5px;
        margin-right: 28px;
        border-radius: 0px 10px 10px 0px;
        padding-top: 5px;
        margin-top: 20px;
    }
    
    .imagem{
        float: left;
        margin-top: 20px;
    }

    .festa{
        margin-top: 20px;
    }
</style>
