<header class="imagem-fundo"></header>

<div class="limitador">
	<div class="fundo-horario">
        <div class="row">
            <div class="col-xs-10">
                <h3 class="cor-branco">12/09/2020 17h até 13/09/2020 17h</h3>
                <h3 class="cor-branco">Complexo Canindé</h3>
            </div>
            <div class="col-xs-2 text-right">
                <a class="cor-branco" href="#" data-toggle="modal" data-target="#modalComprar">Ver +</a>
            </div>
        </div>
	</div>

	<button type="submit" class="btn btn-primary btn-lg">Filtrar</button>

	<div class="ingresso">
		<div class="informacao-esquerda">
			<h6 class="cor-preto">Vendedor: José</h6>
			<h4 class="cor-preto" style="margin-top: -20px; font-weight: bold">Pista</h4>
			<h5 class="cor-preto" style="margin-top: -20px; font-weight: bold">Aluno</h5>
			<h6 class="cor-detalhe" style="margin-top: -20px">Anunciado há 3 dias</h6>
		</div>
		<div class="informacao-direita">
			<h4 style="padding-left: 10px; padding-top: 15px; font-weight: bold">R$ 100,00</h4>
			<h6 class="cor-detalhe" style="margin-top: -15px; padding-left: 5px">12 ingressos disponiveis</h6>
			<a href="#"><img style="margin-top: -47px" src="/imagens/comprar.png" width="100px;" id="btnComprar" data-toggle="modal" data-target="#modalComprar2" alt=""/></a>
		</div>
	</div>
	<div class="ingresso">
		<div class="informacao-esquerda">
			<h6 class="cor-preto">Vendedor: José</h6>
			<h4 class="cor-preto" style="margin-top: -20px; font-weight: bold">Pista</h4>
			<h5 class="cor-preto" style="margin-top: -20px; font-weight: bold">Aluno</h5>
			<h6 class="cor-detalhe" style="margin-top: -20px">Anunciado há 3 dias</h6>
		</div>
		<div class="informacao-direita">
			<h4 style="padding-left: 10px; padding-top: 15px; font-weight: bold">R$ 100,00</h4>
			<h6 class="cor-detalhe" style="margin-top: -15px; padding-left: 5px">12 ingressos disponiveis</h6>
			<a href="#"><img style="margin-top: -47px" src="/imagens/comprar.png" width="100px;" id="btnComprar" data-toggle="modal" data-target="#modalComprar2" alt=""/></a>
		</div>
	</div>
	<div class="ingresso">
		<div class="informacao-esquerda">
			<h6 class="cor-preto">Vendedor: José</h6>
			<h4 class="cor-preto" style="margin-top: -20px; font-weight: bold">Pista</h4>
			<h5 class="cor-preto" style="margin-top: -20px; font-weight: bold">Aluno</h5>
			<h6 class="cor-detalhe" style="margin-top: -20px">Anunciado há 3 dias</h6>
		</div>
		<div class="informacao-direita">
			<h4 style="padding-left: 10px; padding-top: 15px; font-weight: bold">R$ 100,00</h4>
			<h6 class="cor-detalhe" style="margin-top: -15px; padding-left: 5px">12 ingressos disponiveis</h6>
			<a href="#"><img style="margin-top: -47px" src="/imagens/comprar.png" width="100px;" id="btnComprar" data-toggle="modal" data-target="#modalComprar2" alt=""/></a>
		</div>
	</div>

	<div class="ingresso">
		<div class="informacao-esquerda">
			<h6 class="cor-preto">Vendedor: José</h6>
			<h4 class="cor-preto" style="margin-top: -20px; font-weight: bold">Pista</h4>
			<h5 class="cor-preto" style="margin-top: -20px; font-weight: bold">Aluno</h5>
			<h6 class="cor-detalhe" style="margin-top: -20px">Anunciado há 3 dias</h6>
		</div>
		<div class="informacao-direita">
			<h4 style="padding-left: 10px; padding-top: 15px; font-weight: bold">R$ 100,00</h4>
			<h6 class="cor-detalhe" style="margin-top: -15px; padding-left: 5px">12 ingressos disponiveis</h6>
			<a href="#"><img style="margin-top: -47px" src="/imagens/comprar.png" width="100px;" id="btnComprar" data-toggle="modal" data-target="#modalComprar2" alt=""/></a>
		</div>
	</div>
	<div class="ingresso">
		<div class="informacao-esquerda">
			<h6 class="cor-preto">Vendedor: José</h6>
			<h4 class="cor-preto" style="margin-top: -20px; font-weight: bold">Pista</h4>
			<h5 class="cor-preto" style="margin-top: -20px; font-weight: bold">Aluno</h5>
			<h6 class="cor-detalhe" style="margin-top: -20px">Anunciado há 3 dias</h6>
		</div>
		<div class="informacao-direita">
			<h4 style="padding-left: 10px; padding-top: 15px; font-weight: bold">R$ 100,00</h4>
			<h6 class="cor-detalhe" style="margin-top: -15px; padding-left: 5px">12 ingressos disponiveis</h6>
			<a href="#"><img style="margin-top: -47px" src="/imagens/comprar.png" width="100px;" id="btnComprar" data-toggle="modal" data-target="#modalComprar2" alt=""/></a>
		</div>
	</div>
	<div class="ingresso">
		<div class="informacao-esquerda">
			<h6 class="cor-preto">Vendedor: José</h6>
			<h4 class="cor-preto" style="margin-top: -20px; font-weight: bold">Pista</h4>
			<h5 class="cor-preto" style="margin-top: -20px; font-weight: bold">Aluno</h5>
			<h6 class="cor-detalhe" style="margin-top: -20px">Anunciado há 3 dias</h6>
		</div>
		<div class="informacao-direita">
			<h4 style="padding-left: 10px; padding-top: 15px; font-weight: bold">R$ 100,00</h4>
			<h6 class="cor-detalhe" style="margin-top: -15px; padding-left: 5px">12 ingressos disponiveis</h6>
			<a href="#"><img style="margin-top: -47px" src="/imagens/comprar.png" width="100px;" id="btnComprar" data-toggle="modal" data-target="#modalComprar2" alt=""/></a>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalComprar">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Comprar</h4>
			</div>
			<div class="modal-body">
				<p>Informações</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				<button type="button" class="btn btn-primary">Comprar!</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalComprar2">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Comprar</h4>
			</div>
			<div class="modal-body">
				<p>Informações</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				<button type="button" class="btn btn-primary">Comprar!</button>
			</div>
		</div>
	</div>
</div>

<%- contentFor("styles") %>
<style type="text/css">
	.imagem-fundo {
		background-image: url(/imagens/sleepover-ingresso.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		text-align: center;
		padding: 150px 0px;
	}
	.fundo-horario {
		border-radius: 100px;
		padding: 15px 30px;
		margin: 30px 0px;
		background-color: rgba(255, 9, 73, 0.6);
	}
	.fundo-horario h3 {
		margin: 0px;
	}
	.informacao-esquerda, .informacao-direita {
		background-color: #fff;
		height: 100px;
		float: left;
		margin-left: 10px;
		margin-top: 20px;
	}
	.informacao-esquerda {
		width: 160px;
		border-radius: 10px 0px 0px 10px;
		padding-left: 20px;
		padding-top: 5px;
	}
	.informacao-direita {
		width: 150px;
		border-radius: 0px 10px 10px 0px;
	}
	.cor-branco{
		color: #fff;
	}
</style>
