
<form class="panel panel-default limitador" id="form" method="POST" action="<%- root %>/login">
	<div class="panel-heading">
		<img alt="Safetix" src="<%- root %>/imagens/logo.png" style="max-width: 100%;" />
	</div>
	<div class="panel-body">
		<div class="form-group">
			<label for="login">E-mail</label>
			<input id="login" name="login" class="form-control" type="email" />
		</div>

		<div class="form-group">
			<label for="senha">Senha</label>
			<input id="senha" name="senha" class="form-control" type="password" />
		</div>
	</div>
	<div class="panel-footer">
		<% if (mensagem) { %>
		<div class="alert alert-danger"><%=mensagem %></div>
		<% } %>
		<button type="submit" class="btn btn-primary btn-lg">Login</button>
	</div>
</form>

<%- contentFor("styles") %>
<style type="text/css">
	.limitador {
		max-width: 400px;
		text-align: left;
	}
</style>
