<main class="limitador fundo-destaque text-center">
	<i class="fa fa-user fa-5x" aria-hidden="true"></i>
	<h1>Usuário</h1>
	<div class="lista-compacta">
		<ul>
			<li><a class="alternativo">Alterar Senha</a></li>
			<li><a class="alternativo">Alterar Icone</a></li>			
			<li><a class="alternativo">Minhas vendas ativas</a></li>
			<li><a class="alternativo">Histórico</a></li>
		</ul>
	</div>	
</main>
