<main class="limitador text-center">
	<i class="fa fa-user fa-5x" aria-hidden="true"></i>
	<h1>Usuário</h1>
	<div class="lista-compacta">
		
			<p><a href="/usuario/editar" class="alternativo">Editar meu perfil</a>	</p>		
			<p><a class="alternativo">Minhas vendas ativas</a></p>
			<p><a class="alternativo">Histórico</a></p>
		
	</div>	
</main>
