<main class="limitador text-center">
	<% if (0 && usuario && usuario.versao) { %>
		<img style="border-radius: 9999px;" alt="Imagem de Perfil" src="<%- root %>/imagens/perfil/<%-(usuario.id + '.jpg?' + usuario.versao) %>" width="80" height="80" />
	<% } else { %>
		<i class="fa fa-user fa-5x" aria-hidden="true"></i>
	<% } %>
	<h1>Usuário</h1>
	<div class="lista-compacta">
		
			<p><a href="/usuario/editar" class="alternativo">Editar meu perfil</a>	</p>		
			<p><a class="alternativo">Minhas vendas ativas</a></p>
			<p><a class="alternativo">Histórico</a></p>
		
	</div>	
</main>
