<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<!-- Bootstrap 3 -->
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- Font Awesome 4.7 -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@100;300;400;500;700;900&amp;display=swap" rel="stylesheet">
	
	
	<title>Título da Página</title>
	
	<style type="text/css">
		
		body{
            font-family: Prompt;
            margin: 0px auto;
            font-size:20px;
            text-align: center;
            color: #ff0949;
            background-color: #d3d3d3;
            padding-top: 10%;
            padding-bottom: 10%;
            max-width: 1200px;	
		}
				
		h1{
		    margin-bottom: 30px;	
		}
		
		a{
            font-size: 25px;	
            color: #ffffff;
		}
		
		.lista {
		    display: inline-block;
		    text-align: left;
		}
		
	</style>
</head>
<body>

    <i class="fa fa-user fa-5x" aria-hidden="true"  ></i>

    <h1>Usuário</h1>

    <ul class="lista">
        <li><a>Configurações do usuário </a></li>
        
        <li><a>Minhas vendas ativas </a></li>
        
        <li><a>Histórico</a></li>
    </ul>

</body>
</html>