<div class="limitador">
    <div style="display: flex; justify-content: space-around; margin-top: 40px;">
        <div>
            <h2>Perguntas frequentes</h2>
            <a href="#"><h4>Como funciona?</h4></a>
            <a href="#"><h4>Como comprar?</h4></a>
            <a href="#"><h4>Como vender?</h4></a>
            <a href="#"><h4>Tive problemas com minha compra</h4></a>
            <a href="#"><h4>Tive problemas com minha venda</h4></a>
        </div>
        <div>
            <h2>Fale conosco</h2>
            <div>
                <img src= ""alt="instagram" width="100px"> 
                <a href="#"><h4>safetix@gmail.com</h4></a>
            </div>
            <a href="#"><h4>Instagram</h4></a>
            <a href="#"><h4>Facebook</h4></a>
            <a href="#"><h4>Twitter</h4></a>
        </div>
    </div>
</div>