<div class="painel-msg">
	<div class="panel panel-default no-margin-bottom">
		<div class="panel-body">
			<h1><%=((typeof mensagem === "undefined" || !mensagem) ? "A página que você está tentando acessar não foi encontrada" : mensagem) %> 😢</h1>
			<!--
				<%= erro.status %>
				
				<%= erro.stack %>
			-->
		</div>
	</div>
</div>
