<div style="max-width: 400px; margin: 0 auto; padding: 10% 15px;">
	<div class="panel panel-default no-margin-bottom">
		<div class="panel-body text-center">
			<div class="col-xs-space-bottom">
				<img alt="Safetix" src="<%- root %>/imagens/logo.png" style="max-width: 100%;" />
			</div>
			<a class="btn btn-outline btn-primary btn-block" href="<%- root %>/login">Área Administrativa</a>
		</div>
	</div>
</div>
